<app-header></app-header>
<section class="hero is-info is-medium">
	<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-centered">
				o_O <br />
				{{ message | translate }}
			</h1>
			<div class="support has-text-centered">
				<h2 class="title is-2">Support</h2>
				<a class="button marged-right is-info" href="mailto:{{ env.appSupportEmail }}">
					<i class="fa fa-envelope"></i>
					mail
				</a>
				<a class="button is-info" href="{{ env.appSupportWebpage }}">
					<i class="fa fa-comment"></i>
					Autres canaux
				</a>
			</div>
			<div class="marged-v">
				<img src="../../../../assets/img/undraw_Moving_twwf.svg" alt="calendrier icone framadate" />
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
