<footer class="footer main-footer" role="content-info">
	<div class="content container">
		<div class="logo-box">
			<a href="/" class="pull-left">
				<img
					class="app-logo logo"
					*ngIf="env.appLogoFooter"
					src="{{ env.appLogo }}"
					alt="{{ env.appTitle }} logo"
				/>
			</a>
			<div class="app-title pull-left">
				{{ env.appTitle }}
			</div>
		</div>
		<div class="pages-links">
			<!--			<div>Nos Mentions légales</div>-->
			<a href="{{ env.appSupportWebpage }}">
				Contact
			</a>
			<a href="mailto:{{ env.appSupportEmail }}">
				Support
			</a>
			<a routerLink="/page/legal">
				Mentions légales
			</a>
			<a routerLink="/page/cgu">
				Conditions générales d’utilisation
			</a>
			<a routerLink="/page/privacy">
				Politique de confidentialité
			</a>

			<a href="#">
				Accessibilité : Totalement conforme
			</a>
		</div>
		<p *ngIf="show_bottom_sources">
			{{ env.appTitle }} - {{ env.appVersion }} - libérez vos sondages. <i class="fa fa-copyleft"></i> Logiciel
			libre sous licence AGPL v3.
			<app-theme-selector></app-theme-selector>

			<a href="https://framagit.org/framasoft/framadate/funky-framadate-front/-/tree/master">
				<i class="fa fa-gitlab"></i> Sources</a
			>
			|
			<a href="https://framagit.org/framasoft/framadate/funky-framadate-front/-/tree/master/docs">
				<i class="fa fa-book"></i>
				🚴 Documentation
			</a>
			|
			<a href="https://framateam.org/ux-framatrucs/channels/framadate">
				<i class="fa fa-comment"></i>
				canal de discussion Framateam
			</a>
			|
			<a href="https://riot.im/app/#/room/#framadate:matrix.org">
				<i class="fa fa-matrix-org"></i>
				canal Matrix
			</a>
		</p>
	</div>
</footer>
